@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #0f172a;
  --color-accent: #3b82f6;
  --color-background: #020617;
  --color-foreground: #f8fafc;
  --color-muted: #334155;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
